html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
/* body{
    font-size: 50px;
} */
.outside_div{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    /* background-color: brown; */
}
.t-wordcolor{
    color: goldenrod;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.outside_div>header img.logo{
    width: 167px;
    margin-top: 56px;
    padding: 0px 15px;
    /* margin-bottom: 20px; */
    text-align: center;

}
.outside_div>header{
    height: 300px;
    text-align: center;
}
.outside_div>nav{
    border-top: 2px solid #8a8000;
    border-bottom: 2px solid #8a8000;
    /* background-color: red; */
    margin-bottom: 20px;
}
.outside_div>nav>ul{
    display: flex;
}
.outside_div>nav>ul>li{
    /* background-color: #8a8000; */

    /* display: inline-block;
    
    width:33%; */
    flex: 1;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 70px;
    height: 70px;
}
.outside_div>nav>ul>li>.nav_item{
    /* background-color: black; */
    text-decoration: none;
    color: #000;
    display: block;
    position: relative;
}
.outside_div>nav>ul>li>.nav_item .nav_child{
    display: none;
    position:absolute;
    z-index: 5;
}

.outside_div>nav>ul>li>.nav_item:hover .nav_child{
    width: 100%;
    display: block;
    background-color: #8a8000;
    text-decoration: none;
}
.outside_div>nav>ul>li>.nav_item:hover>.nav_child a{
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    padding: 20px 15px;
    color: #fff;
    background-color: #8a8000;
    display: block;

}
.outside_div>nav>ul>li>.nav_item:hover>.nav_child a:hover{
    background-color: #000;
}
.outside_div>nav>ul>li>.nav_item:hover{
    background-color: #d4d4d4c4;
}

.en_text{
    color: #8a8000;
}
.outside_div>.index_pic{
    /* background-color: aqua; */
    /* width: 100%; */
}
.dm_pic{
    width: 100%;
}
/* .logo{
    width: 150px;
} */
footer>ul>li{
    display: inline-block;
}

/* footer>div{
   background-color: #8a8000;
    display: inline-block;
    float: right;
}  */

                                    /* shop.html 的 css */
.outside_div>.shop_content>.p_content{
    color: #58595b;;
    line: height 20px;
    letter-spacing: 1.5;
    font-size: 15px;
    font-weight: bold;
}
.outside_div>.item_wrap{
    font-weight: bold;
    border: 1px solid #8a8000;

}
.outside_div>.item_wrap>.item_row{
    display: flex;
    padding: 15px;

}
.outside_div>.item_wrap>.item_row>div{
    flex:1
}
.outside_div>.item_wrap>.item_row>.item_left{
 
}
.outside_div>.item_wrap>.item_row>.item_mid{
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: space-between; */
}
.outside_div>.item_wrap>.item_row>.item_right{

}
.item_row>.item_right>.item_title{
    border-bottom: 1px solid #8a8000;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 3px;
}
.item_row>.item_mid>.item_mid_price{
    font-weight: bold ;
    /* margin-top: 102px; */
    position: absolute;
    bottom: 0;
    color: #8a8000;
    font-size: 20px;
    line-height: 25px;
}
.item_row>.item_left{
    margin-right: -160px;
}
/* .item_row>.item_right{
    display: flex;
} */
.item_row>.item_right>.item_child{
    display: flex;
    position: relative;


    
}
.item_right>.item_child>.item_child_right{

    margin-left: auto;
}
.item_right>.item_child>.item_child_left{
    flex: 1;
}
.item_right>.item_title>.sales{
    font-size: 17px;
    line-height: 25px;
}
.item_child>.item_child_left>.scheme{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #8a8000;
}
.item_child>.item_child_right>.buy_button{
    color: #fff;
    text-decoration: none;
    background-color: #8a8000;
    margin-left: 103px;
    margin-top: 20px;
    padding: 7px;
    padding-top: 8px;;
    border-radius: 14px;
    display: block;
    text-align: center;
}
.item_child>.item_child_right>.buy_button:hover{
    background-color: black;
}
.item_row>.item_right>.item_child_but{
    display: flex;
}
.h2_style{
    margin-top: 3px;
    font-size: 25px;
}


.footer_style{
    background-color: #8a8000;
    color: #fff;
    /* display: flex;
    font-size: 20px; */
    line-height: 25px;
    height: 100px;
    padding: 0 10%;


}
.footer_style>ul{
    flex-direction: flex-start;
    /* position: relative; */
    padding-top: 20px;
}
.footer_style>ul>li{
    width: 10%;
}
.footer_style>ul>div{
    /* position: absolute;
    right: 0; */
}
@media(max-width:992px){
    .outside_div>nav>ul{
        flex-direction: column;
    }
    .outside_div>nav>ul>li{
        width: 100%;
        text-align: center;
    }
    .outside_div>.item_wrap>.item_row{
        flex-direction: column;
    
    }
    .item_row>.item_left{
        margin-right: 0px;
        width: 100%;
    }
    .outside_div>nav>ul>li:hover{

    }
}